[Unit]
Description=
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -l -c "echo 'sleep 2 && xrandr --output HDMI-1 --same-as HDMI-0 && xset dpms 0 0 0 && xset s off -dpms && firefox -f --url http://localhost:5000' > ~/.xinitrc; startx"
WorkingDirectory=/home/room
Restart=on-failure

LimitNOFILE=infinity
LimitCORE=infinity
StandardInput=null
StandardOutput=syslog
StandardError=syslog
Restart=always
SyslogIdentifier=room-xinit
PIDFile=/var/run/room-xinit.pid
User=room

[Install]
WantedBy=multi-user.target
